blis==0.7.11
catalogue==2.0.10
certifi==2024.7.4
chardet==3.0.4
charset-normalizer==3.3.2
click==7.1.2
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
huggingface-hub==0.23.4
idna==2.10
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
murmurhash==1.0.10
nltk==3.4.5
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pathlib_abc==0.1.1
pathy==0.11.0
pillow==10.4.0
plotly==5.22.0
preshed==3.0.9
pydantic==1.8.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.23.0
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
smart-open==6.4.0
spacy==3.0.9
spacy-legacy==3.0.12
srpskiNLP @ git+https://github.com/procesaur/srpski.git@a6ce502f46c24ecb2ad29972a8405336e92ce0e8
srsly==2.4.8
tenacity==8.5.0
thinc==8.0.17
threadpoolctl==3.5.0
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.42.4
typer==0.3.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.25.11
wasabi==0.10.1
